$bg-color: #363636;
$bg-ui: #292929;
$accent: #17C23C;

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;

  .phoneFrame {
    position: relative;
    overflow: hidden;
    width: 375px;
    height: 812px;
    background-color: $bg-color;

    .statusBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 44px;
      padding: 0 1rem;
      background: $bg-ui;
      svg {
        fill: white;
      }
    }

    .catTabBar {
      width: 100%;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      scrollbar-width: none;
    }

    .dishList {
      position: relative;
      width: 100%;
      height: calc(100% - 20px - 108px - 44px);
      padding: 8px 8px 448px 8px;
      overflow-y: scroll;

      .dishCard {
        position: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 170px;
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 8px;
        background: grey;

        .tags {
          display: flex;
          flex-direction: row;
          border-radius: 4px 0 0 0;
          overflow: hidden;

          .tag {
            padding: 0 4px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 10px;
            line-height: 16px;
            display: inline-block;
            font-size: 10;
            color: white;
            margin-right: 2px;
            background: rgba(0,0,0,.5);
          }
        }

        .content {
          display: grid;
          grid-template-columns: 24px 1fr 40px;
          column-gap: 8px;
          background: rgba(0,0,0,.5);
          padding: 8px;
          border-radius: 8px;

          .dishIcon {
            display: flex;
            align-items: center;
            fill: rgba(255, 255, 255, 0.5);
          }

          .badge, .fav {
            display: none;
            position: absolute;
          }

          .title {
            font-weight: 500;
            font-size: 17px;
            line-height: 40px;
            color: white;
          }

          .priceBlock {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-weight: 500;
            font-size: 17px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.5);
            width: 100%;
            text-align: right;
          }
        }
      }
    }

    .cart {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      z-index: 1;
      height: 56px;
      left: 8px;
      right: 8px;
      bottom: 28px;

      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(20px);
       -webkit-backdrop-filter: blur(20px);
      border-radius: 8px;

      svg {
        fill: black;
      }

      .addButton {
        position: absolute;
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
        background: $accent;
        display: flex;
        justify-content: center;
        align-items: center;
        left: calc(50% - 2rem);
        top: -2rem;
        border: none;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
        // transform: translate(0, -50%);
        svg {
          fill: white;
        }
      }
    }

    .footer {
      width: 100%;
      padding: 8px 0;
      display: flex;
      justify-content: center;
      background: $bg-ui;

      .marker {
        width: 30%;
        height: 4px;
        border-radius: 2px;
        background: rgba(255,255,255,.5);
      }
    };
  }
}